@using System.Web.Optimization
@using Bookmarky.CoreSite.Utility
<!DOCTYPE html>
<html ng-app="bookmarkyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script>
        var originAddress = '@ConfigHelper.GetApiOrigin()';
    </script>
    @Styles.Render("~/bundle/css")
    @Styles.Render("~/bundle/bowercss")
    @Scripts.Render("~/bundle/bowerjs")
    @Scripts.Render("~/bundle/app")
</head>
<body>
    <div class="navbar header">
        <div class="logo"></div>
        <ul class="links">
            <li><a href="#/">Home</a></li>
            <li>Add Bookmark</li>
            <li>Search</li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>